---
const PROYECTS = [{
    title: "Proyects 1",
    descripcion: "Apoya a creadores de contenido y usa tus tokens para comprar tarjetas regalo o cambiarlos por otras monedas, entre otras cosas.",
    link:"#",
    github: "#",
    image:"https://placehold.co/300x200",
    tags: ["HTML","css","javascript",]

}]
---


{
    PROYECTS.map(({ title, descripcion, tags, image }) => (
    <article>
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
        <p class="text-lg mb-4 text-pretty">{descripcion}</p>
        <ul>
            {
                tags.map(tags => (
                    <li>{tags}</li>
                ))
            }
            
        </ul>
        <img 
        class="rounded shadow-2xl shadow-white/10"
        src={image} 
        alt={`Captura de pantalla del proyecto ${image}`}>
    </article>
    ))
}